*{
	padding:0px;
	margin:0px;
	font-family:verdana;
	box-sizing:border-box;
}
.form_style{
   width: 400px;
   margin: 0 auto;
 }
body{
	margin: 0;
	padding: 0;
	/* background-image: url("../img/bg.jpg"); */
	background-size: cover;
	background-repeat: no-repeat;
}
hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
a{text-decoration:none;font-weight:600;}
.link{color:#00aced;}
p{margin:5px 0px;}
.box{
	width:400px;
	height:auto;
	margin:0 auto;
	background-color:white;
}
.inner-box{
	padding:20px;
}
.box h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
	width:100%;
	padding:10px;
	margin:10px 0px;
	border:2px solid #c0c0c0;
}
input[type="submit"]{
	border: none;
	background-color: #00ADB5;
	color:white;
	font-size:16px;
	font-weight:600;
	cursor:pointer;
}

/* HEADER */
header{
	display: flex;
	flex-direction: row;
	padding: 25px;
	background-color: #ffff;
}
header h4{
	margin-right: auto;
	flex-grow: 1;
	font-size: 20px;
	font-weight: lighter;
}

.container-body {
	position: absolute;
	width: 100%;
	margin: auto;
	top: 20px;
}

/* LEFT RIGHT MIDDLE COLUMN ROW */
.center{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.end{
	display: flex;
	margin: auto;
	align-items: flex-end;
}
.end img{
	margin-left: auto; 
	width: 50px;
	height: 50px;
	margin: 3px;
}

.row{
	display: flex;
	flex-direction: row;
}