<!DOCTYPE html>
<html lang="en" >

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Barangay Records Management System</title>
    <link rel ="icon" href="../../../assets/barangay/Barangay Logo.png" type ="image/x-icon">
    <link rel="stylesheet" href="../../styles.css"/>
    <link type="text/css" rel="stylesheet" href="../../../assets/icons/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8/dist/sweetalert2.min.css">

  </head>

  <body ng-app="indigency" ng-controller="IndigencyController" ng-init="displayData()">
      
      <nav id="nav" class="sidenav color-white">

          <div>
              <div class="center">
                <img src="../../../assets/barangay/Barangay Logo.png" class="icon">
              </div>
              <h4>Barangay Records Management System</h4>
              <hr>
              
              <div class="row">
                
                <img id="myImage" style="width: 50px; height: 50px; object-fit: cover;">
                <b class="row center"><p>Hello !&nbsp;<p id="superName"></p></p></b>

              </div>
    
          </div>

          <div class="col">

            <a href="../home/Home.html"><i class="fa fa-user"></i> &nbsp; Home</a>
            <a href="../../chart/Chart.html"><i class="fas fa-chart-pie"></i> &nbsp; Chart</a>
            <a href="../clearance/ResidentClearance.html"><i class="fa fa-users"></i> &nbsp; Barangay Clearance</a>
            <a href="../indigency/ResidentIndigency.html"><i class="fa fa-users"></i> &nbsp; Certificate of Indigency</a>
            <a href="../permit/ResidentPermit.html"><i class="fa fa-users"></i> &nbsp;  Barangay Permit</a>
            <a href="../../contact/Contact.html"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; Contact Us</a>
            <a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Logout</a>

          </div>

      </nav>
    
    <div id="main">

      <!-- HEADER -->
      <header ng-init="startTime()">

        <button id="btn-open" role="button" ng-click="openNav()"><i class="fas fa-bars"></i></button> 
        <button id="btn-close" role="button" ng-click="closeNav()"><i class="fas fa-bars"></i></button> 

        <div id="time-container" class="center">
          <div id="time" class="column">
              <h3 id="timepiece"></h3>
          </div>
        </div>

        <div id="day-container" class="end color-white">
            <h3 id="day"></h3>&nbsp;
            <h3 id="calendar"></h3>
        </div>

      </header>

      <!-- GENERATE BUTTON -->
      <div id="add-container" class="row start">
        
        <button class="button-17" ng-click="openAdd()"><span class="fa fa-plus"></span> &nbsp;Generate New Indigency</button>&nbsp;
        <button class="button-17" ng-click="print()"><i class="fas fa-print"></i> &nbsp;Print Indigency</button>&nbsp;
        <div id="search-container" class="center">
        <i class="fas fa-search"></i>&nbsp;
        <input class="center" type="text" ng-model="search" ng-change="searchResident()" placeholder="Type name to search"/>
        </div>

      </div>
        
      <div class="center col">

        <br><br>
        <!-- TABLE -->
        <div class="table-container">  

          <table class="table table-striped">
            <thead>
              <tr>  
                <th>ID</th>  
                <th>Name</th>  
                <th>Address</th>  
                <th>Reason</th>
                <th>Date</th>
                <th></th>
                <th></th>
              </tr>  
            </thead>
            <tbody>
              <tr ng-repeat="x in indigency">  
                <td style="width:200px">{{x.id}}</td>  
                <td>{{x.name}}</td>  
                <td>{{x.address}}</td>  
                <td>{{x.reason}}</td>  
                <td>{{x.created}}</td>  
                <td>
                    <button ng-click="openEdit(x)"  class="button-3">Edit</button>
                  </td>
                  <td> 
                    <button ng-click="deleteData(x.id)" class="button-2">Delete</button>
                  </td>
              </tr>  
            </tbody>
          </table>  

        </div>  

      </div>

        <!-- UPDATE MODAL -->
        <div id="edit-modal" class="modal">

          <div class="modal-content">

            <span ng-click="closeEdit()" class="button-2" style="float: right">&times;</span>
            <h3 class="center">Edit Resident</h3>

            <br>
            <hr>


            <div class="modal-body">

              <form class="col">

                <input ng-model="edit_id" id="edit_id" type="hidden" style="width: 90%" required>
                <br><br> 
                <label for="edit_name">Fullname</label>
                <input ng-model="edit_name" id="edit_name" type="text" style="width: 90%" required>
                <br><br>
                <label for="edit_reason">Reason</label>
                <input  ng-model="edit_reason"  id="edit_reason" type="text" style="width: 90%" required>
                <br><br>
                <label for="edit_address">Address</label>
                <input  ng-model="edit_address" id="edit_address" type="text" style="width: 90%" required>
                <br><br>

                <div style="width: 40%; margin: auto">
                  <button ng-click="updateData()" class="button-3">Save</button>
                  <button ng-click="closeEdit()" class="button-2">close</button>
                </div>
              </form>

            </div>

          </div>

        </div>

        <!-- ADD MODAL -->
        <div id="add-modal" class="modal">

          <div class="modal-content">

            <span ng-click="closeAdd()" class="button-2" style="float: right">&times;</span>
            <h3 class="center">Create Barangay Clearance</h3>
        
            <hr>
            <br>

            <form class="col">

            <label>Name</label>
              <input ng-model="name" type="text" placeholder="name" style="width: 90%" required> 
              <br><br> 
              <label>Reason</label>
              <textarea ng-model="reason" placeholder="reason" style="width: 90%" required></textarea>
              <br><br> 
              <label>Address</label>
              <input  ng-model="address" type="text" placeholder="address" style="width: 90%"> 
              <br><br>
              <div style="width: 40%; margin: auto">
                <br>
                <button type="button" ng-click="insertData()" class="button-3">Create</button>
                <button type="button" ng-click="closeAdd()" class="button-2">close</button>
              </div>

            </form>

          </div>

        </div>

    </div>

  </body>
  
  <script src="https://kit.fontawesome.com/c4442c2032.js" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
  <script src="../../../js/index.js"></script> 
  <script src="indigency.js"></script>
  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

</html>